@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--darkBlue);
}

.container {
  display: flex;
}

.card {
  background-color: var(--grayishBlue);
  margin: 10px 10px auto;
  min-height: 330px;
  min-width: 345px;
  max-width: 540px;
}

.advise-number {
  color: var(--neonGreen);
}

.quote {
  font-size: 28px;
  color: var(--lightCyan);
}