@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--darkBlue);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--darkGrayishBlue);
  margin: 10px 10px auto;
  min-height: 290px;
  min-width: 300px;
  max-width: 500px;
  border-radius: 20px;
  padding: 20px;
}

.quote-number {
  color: var(--neonGreen);
  font-stretch: expanded;
}

.quote {
  font-size: 28px;
  color: var(--lightCyan);
  min-height: 130px;
}

.divider {
  color: var(--grayishBlue)
}

.button {
  height: 50px;
  width: 50px;
  background-color: var(--neonGreen);
  border-radius: 50%;
  margin: auto;
}