@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
	font-family: 'Manrope', sans-serif;
	background-color: hsl(218, 23%, 16%);
	min-height: 100vh;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
